.form {
    margin: 100px auto;
    margin-bottom: 40px;
    width: 500px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column-reverse;
    &__label {
        margin-bottom: 10px;
    }
    &__input {
        width: 100%;
    }
    &__top {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
    }
    &__btn {
        background-color: antiquewhite;
        padding: 10px 20px;
        border: 1px solid #ddd;
    }
}
